/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Teko:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added bu browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* google fonts import */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "PT Serif", serif;
    ;

}

header {
    background-color: black;
    padding: 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #808080;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
}

h1 {
    font-family: "Teko", sans-serif;
    color: #B59410;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;

}

#menu {
    letter-spacing: 1px;
    list-style-type: none;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1em;
}

nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #808080;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}
.nav-toggle-label{
    font-size: 2rem;
}

main {
    background-image: url(images/Eldenproject.jpg.jpg);
    background-size: cover;
    background-position: center top;
    flex: 1 0 auto;
}

footer {
    background-color: black;

}