/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Teko:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added bu browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* google fonts import */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: yellow;
    font-family: "PT Serif", serif;
    ;

}

header {
    background-color: black;
    padding: 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #808080;
}

h1 {
    font-family: "Teko", sans-serif;
    color: yellow;
}

main {
    background-image: url(images/Eldenproject.jpg.jpg);
    background-size: cover;
    background-position: center top;
    flex: 1 0 auto;
}

footer {
    background-color: black;

}