/* Asterisk wildcard selector to override default styles added bu browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: yellow;
}

header {
    background-color: black;
}

main {
    background-image: url(images/Eldenproject.jpg.jpg);
    background-size: cover;
    background-position: center top;
    flex: 1 0 auto;
}

footer {
    background-color: black;
    
}